<section class="panel grey darken-4" style="padding: 20px 0">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l3">
                <img src="{{ site.baseurl }}/images/logo-ftsl-transp.png">
                <ul>
                    <li class="hide"><a href="http://ftsl.org.br/user" class="footer-links xxs-font">Inscrição</a></li>
                </ul>
            </div>

            <div class="col s12 m6 l3">
                <h6 class="footer-links-title xxs-font">MAPA DO SITE</h6>
                <ul>
                    <li><a href="{{ site.baseurl }}/index.html" class="footer-links xxs-font">home</a></li>
                    <li><a href="{{ site.baseurl }}/evento.html" class="footer-links xxs-font">o evento</a></li>
                    <li class="hide"><a href="{{ site.baseurl }}/index.html#convidados" class="footer-links xxs-font">convidados</a></li>
                    <li class="hide"><a href="{{ site.baseurl }}/agenda.html" class="footer-links xxs-font">agenda</a></li>
                    <li class="hide"><a href="{{ site.baseurl }}/index.html#noticias" class="footer-links xxs-font">noticias</a></li>
                    <li><a href="{{ site.baseurl }}/patrocinio.html" class="footer-links xxs-font">patrocínio</a></li>
                    <li><a href="{{ site.baseurl }}/politica-anti-assedio.html" class="footer-links xxs-font">política antiassédio</a></li>
                </ul>
            </div>

            <div class="col s12 m6 l3">
                <h6 class="footer-links-title xxs-font">CONTATO</h6>
                <ul>
                    <li><a href="mailto:contato@ftsl.org.br" class="footer-links xxs-font">contato@ftsl.org.br</a></li>
                </ul>
            </div>
            
            <div class="col s12 m6 l3">
            <h6 class="footer-links-title xxs-font">Siga-nos</h6>
                <ul class="social-icons">
                    <li><a href="http://www.facebook.com/forumslcuritiba" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="http://www.twitter.com/forumslcuritiba" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                    <li><a href="http://www.ftsl.org.br/rss.xml" class="social-icon"> <i class="fa fa-rss"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCLKk31-y3AjErLFSFT8F__w" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                    <li><a href="https://www.linkedin.com/groups/12049380" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                    <li><a href="http://t.me/ftslnove" class="social-icon"> <i class="fa fa-telegram" aria-hidden="true"></i></a></li>
                    <li><a href="mailto: contato@ftsl.org.br" class="social-icon"> <i class="fa fa-envelope"></i></a></li>
                    <!--<li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</section>
