  <li><a href="{{ site.baseurl }}/index.html">home</a></li>
  <li><a href="{{ site.baseurl }}/evento.html">o evento</a></li>
  <li class="hide"><a href="{{ site.baseurl }}/agenda.html">agenda</a></li>
  <li class="hide"><a href="{{ site.baseurl }}/index.html#noticias">notícias</a></li>
  <li><a href="{{ site.baseurl }}/patrocinio.html">patrocínio</a></li>
  <li class="hide"><a href="http://ftsl.org.br/user" class="btn red font-shadow" target="_blank">Inscreva-se</a></li>
  <li><a href="{{ site.baseurl }}/banners.html" class="waves-effect blue waves-light btn">envolva-se</a></li>
