<section class="panel light-green darken-2" >
    <div class="container valign-wrapper" style="height: auto; padding: 20px">
        <div class="center-align" style="width: 100%">
            <span class="md-font white-text text-darken-4 flow-text">Não perca nada!</span><br>
            <span class="xs-font white-text text-darken-1 flow-text">Assinando nossa newsletter, você fica por dentro das novidades do evento.</span><br><br>
            <div class="center-align" id="mc_embed_signup">
                <form action="//ftsl.us15.list-manage.com/subscribe/post?u=f9f5f09ce1879ee2046ac2e80&amp;id=12c9acbe55" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <input type="email" value="" name="EMAIL" class="email dark-blue-text text-darken-4" id="mce-EMAIL" placeholder="endereço de e-mail" required >
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_f9f5f09ce1879ee2046ac2e80_12c9acbe55" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Assinar" name="subscribe" id="mc-embedded-subscribe" class="waves-effect lime waves-light btn text-center green-text text-darken-4"></div>
                    </div>
                </form>
            </div>
        </div>
</section>
