<div class="carousel-item"><a href="http://www.pentahobrasil.com.br/" target="_blank"><img src="images/amigas/Pentaho_Day250X2501.png" width="120"></a></div>
<div class="carousel-item"><a href="http://curitibalivre.org.br/" target="_blank"><img src="images/amigas/logo-curitibalivre300.png" height="120"></a></div>
<div class="carousel-item"><a href="http://phppr.org/" target="_blank"><img src="images/amigas/phppr.png" width="120"></a></div>
<div class="carousel-item"><a href="http://debianbrasil.org.br/" target="_blank"><img src="images/amigas/logo-debian-brasil.png" width="120"></a></div>
<div class="carousel-item"><a href="https://grupypr.github.io/" target="_blank"><img src="images/amigas/grupypr.png" height="120"></a></div>
<div class="carousel-item"><a href="https://www.frameworkdemoiselle.gov.br" target="_blank"><img src="images/amigas/logo-demoiselle.png" height="120"></a></div>