<!DOCTYPE html>
<html>

{% include head.html %}

<body class="html front not-logged-in two-sidebars page-node">
<div id="wrapper">
  {% include header.html %}
  <div id="container">
    <div class="content-sidebar-wrap">
      <div id="content">{{ content }}</div>

      <aside id="sidebar-first" role="complementary">
        <div class="region region-sidebar-first">
          <div id="login">Login do usuário</div>
        </div>
      </aside>

    </div>

    <aside id="sidebar-second" role="complementary">
      <div class="region region-sidebar-second">
        <div id="realizacao">Realização</div>
      </div>
    </aside>

    <div class="clear"></div>

    <div id="foot">
      <div class="region region-footer">
        <div id="block-system-powered-by" class="block block-system">
          <div class="content">
            <span>Desenvolvido com <a href="https://www.drupal.org/">Drupal</a></span>
          </div>
        </div>
        <!-- /.block -->
      </div>
      <!-- /.region -->
    </div>

  </div>
  {% include footer.html %}
</div>
</body>

</html>
