---
layout: default
---
  <section class="panel grey darken-4">
    <div class="container grey lighten-3" style="height: 64px">
      <div class="row">

      </div>
    </div>
  </section>

  <section class="panel grey darken-4">
    <div class="container grey lighten-3" style="padding-bottom: 30px">
      <div class="container">
        <div class="row">
          <div class="sm-font blue-grey-text"><span style="display: inline-block;">{{ page.title }}</span></div>
        </div>
        <div class="row" style="margin-bottom: 0">
          <div>
              {{ content }}
          </div>
        </div>
      </div>
      <div class="right xxs-font">
          <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/edit/master/{{ page.path }}">aprimore esta página &nbsp;</a>
      </div>
    </div>
  </section>

